{% block component_factfinder_campaign_advisor %}
  <ff-campaign-advisor name="{{ name }}" unresolved>
    {% block component_factfinder_campaign_advisor_question %}
      <ff-campaign-advisor-question>
        <span>
          <div class="h1" data-question>{{ '{{{text}}}' }}</div>
        </span>
        <div>
          {% block component_factfinder_campaign_advisor_question_answer %}
          <div class="campaign-advisor-container">
            <ff-campaign-advisor-answer>
              <div>{{ '{{{text}}}' }}</div>
            </ff-campaign-advisor-answer>
          </div>
        </div>
        {% endblock %}
      </ff-campaign-advisor-question>
    {% endblock %}
  </ff-campaign-advisor>
{% endblock %}
