{% block component_factfinder_cross_selling_record_list %}
  <ff-record-list subscribe="false" class="row cms-listing-row">
    <ff-record class="card product-box box-standard col-sm-6 col-lg-6 col-xl-3">
      <div class="card-body">
        <div class="product-image-wrapper">
          <img data-image="{{ '{{record.ImageURL}}' }}" class="product-image is-standard"/>
        </div>
        <div class="product-info">
          <a href="{{ '{{record.Deeplink}}' }}" data-action="redirect" class="product-name">
            <div class="product-title">{{ '{{ record.Title }}' }}</div>
          </a>
        </div>
        <div class="product-price-info">
          <div class="product-price-wrapper">
            {{ "detail.dataColumnReferencePrice"|trans|sw_sanitize }}
            <span class="product-price"> {{ '{{record.Price}}' }}</span>
          </div>
        </div>
        <div class="product-action">
          <a href="{{ '{{record.Deeplink}}' }}" data-action="redirect"
             title="{{ "listing.boxProductDetails"|trans|striptags }}" class="btn btn-block btn-light">
            {{ "listing.boxProductDetails"|trans|striptags }}
          </a>
        </div>
      </div>
    </ff-record>
  </ff-record-list>
{% endblock %}
