{% block component_factfinder_record %}
  <ff-record class="cms-listing-col col-sm-6 col-lg-4 col-xl-3">
    <div class="card product-box box-standard">
      <div class="card-body">
        <div class="product-image-wrapper">
          <a class="product-image-link is-standard" title="{{ '{{masterValues.Name}}' }}"
             data-redirect="{{ '{{masterValues.Deeplink}}' }}" data-anchor="{{ '{{masterValues.Deeplink}}' }}"
             data-redirect-target="_self">
            <img class="product-image is-standard" data-image="{{ '{{masterValues.ImageUrl}}' }}"
                 alt="{{ '{{masterValues.Name}}' }}" title="{{ '{{masterValues.Name}}' }}"/>
          </a>
        </div>
        <div class="product-info">
          <a class="product-name" title="{{ '{{masterValues.Name}}' }}" data-redirect-target="_self"
             data-redirect="{{ '{{masterValues.Deeplink}}' }}" data-anchor="{{ '{{masterValues.Deeplink}}' }}">
            {{ '{{masterValues.Name}}' }}
          </a>
          <div class="product-description">{{ '{{masterValues.Brand}}' }}</div>
          <div class="product-price-info">
            <p class="product-price">{{ '{{ $ masterValues.Price}}' }} *</p>
          </div>
          <div class="product-action">
            <a class="btn btn-block btn-buy" title="{{ '{{masterValues.Name}}' }}" data-redirect-target="_self"
               data-redirect="{{ '{{masterValues.Deeplink}}' }}" data-anchor="{{ '{{masterValues.Deeplink}}' }}">
              {{ 'listing.boxProductDetails'|trans|sw_sanitize }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ff-record>
{% endblock %}
