{% sw_extends '@Parent/storefront/page/product-detail/tabs.html.twig' %}
{% set product_number = page.product.productNumber %}

{% block page_product_detail_tabs_inner %}
  {{ parent() }}
  <div style="margin: 20px 0">
    <ff-recommendation record-id="{{ product_number }}" max-results="4">
      <div class="h3 recommendation-header">Recommendations</div>
      <ff-record-list subscribe="false">
        <ff-record class="recommendation-record">
          <img data-image="{{ '{{record.ImageURL}}' }}">
          <div class="product-block">
            <div class="product-title">
              <a href="https://www.bergfreunde.de{{ '{{record.Deeplink}}' }}" data-action="redirect">
                {{ '{{ record.Title }}' }}
              </a>
            </div>
            <div class="product-price">
              Price: <strong>{{ '{{record.Price}}' }} €</strong>
            </div>
          </div>
        </ff-record>
      </ff-record-list>
    </ff-recommendation>
  </div>
{% endblock %}
