{% block element_sortbox %}
  {%  set config = element.config %}
  <div class="col-md-auto">
    {% block component_factfinder_sortbox %}
      <ff-sortbox-select class="sorting" unresolved
         subscribe="{{ config.subscribe.value ? 'true' : 'false' }}"
        {{ config.opened.value ? 'opened' : '' }}
        {{ config.showSelected.value ? 'show-selected="true"' : '' }}
        {{ config.showSelected.value ? 'show-selected-first="config.showSelectedFirst.value"' }}
      >
        <select class="sorting custom-select" aria-label="{{ 'general.sortingLabel'|trans|striptags }}"></select>
      </ff-sortbox-select>
    {% endblock %}
  </div>
{% endblock %}

